/mvnAutoServisKlijent/target/
/mvnAutoServisServer/target/
/mvnAutoServisCommonLib/target/

/mvnAutoServisCommonLib/nb-configuration.xml

/mvnAutoServisCommonLib/.classpath
/mvnAutoServisServer/.classpath
/mvnAutoServisKlijent/.classpath

/mvnAutoServisCommonLib/.project
/mvnAutoServisServer/.project
/mvnAutoServisKlijent/.project

/mvnAutoServisCommonLib/.settings/
/mvnAutoServisServer/.settings/
/mvnAutoServisKlijent/.settings/

/mvnAutoServisServer/nbactions.xml
/mvnAutoServisKlijent/nbactions.xml

