/.idea

/mvnAutoServisKlijent/.idea
/mvnAutoServisServer/.idea
/mvnAutoServisCommonLib/.idea


/mvnAutoServisKlijent/target/
/mvnAutoServisServer/target/
/mvnAutoServisCommonLib/target/


/mvnAutoServisCommonLib/.classpath
/mvnAutoServisServer/.classpath
/mvnAutoServisKlijent/.classpath

/mvnAutoServisCommonLib/.project
/mvnAutoServisServer/.project
/mvnAutoServisKlijent/.project

/mvnAutoServisCommonLib/.settings/
/mvnAutoServisServer/.settings/
/mvnAutoServisKlijent/.settings/

/mvnAutoServisServer/nbactions.xml
/mvnAutoServisKlijent/nbactions.xml

/mvnAutoServisServer/nbproject/
/mvnAutoServisServer/nb-configuration.xml
/mvnAutoServisKlijent/nb-configuration.xml
/mvnAutoServisCommonLib/nb-configuration.xml
/mvnAutoServisKlijent/2_MilenaPavlovic_05-02-2020.json